name: Run CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Enable Corepack
        run: corepack enable
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
          cache-dependency-path: ./docs/pnpm-lock.yaml
      - name: Install Dependencies
        working-directory: ./docs
        run: pnpm install --frozen-lockfile
      - name: Ensure Code Builds
        working-directory: ./docs
        run: pnpm build
