name: Deploy Docs/Demo Site

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Enable Corepack
        run: corepack enable
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
          cache-dependency-path: ./docs/pnpm-lock.yaml
      - name: Install Dependencies
        working-directory: ./docs
        run: pnpm install --frozen-lockfile
      - name: Build Docs
        working-directory: ./docs
        run: pnpm build --base=/sinter-py/
      - name: Deploy Docs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/dist
